
.custompage_layouter_actions {
	position: absolute;
	height:70px;
	left: 0;
	right: 0;
	bottom:-75px;
	text-align:center;
	z-index: 100;
	overflow: hidden;
}

.custompage_layouter_actions .inner {
	display: inline-block;
	background-image: linear-gradient(bottom, rgb(39,39,39) 0%, rgb(18,18,18) 2%, rgb(42,42,42) 50%, rgb(53,53,53) 50%, rgb(93,93,93) 98%, rgb(133,133,133) 100%);
	background-image: -o-linear-gradient(bottom, rgb(39,39,39) 0%, rgb(18,18,18) 2%, rgb(42,42,42) 50%, rgb(53,53,53) 50%, rgb(93,93,93) 98%, rgb(133,133,133) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(39,39,39) 0%, rgb(18,18,18) 2%, rgb(42,42,42) 50%, rgb(53,53,53) 50%, rgb(93,93,93) 98%, rgb(133,133,133) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(39,39,39) 0%, rgb(18,18,18) 2%, rgb(42,42,42) 50%, rgb(53,53,53) 50%, rgb(93,93,93) 98%, rgb(133,133,133) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(39,39,39) 0%, rgb(18,18,18) 2%, rgb(42,42,42) 50%, rgb(53,53,53) 50%, rgb(93,93,93) 98%, rgb(133,133,133) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(39,39,39)),
		color-stop(0.02, rgb(18,18,18)),
		color-stop(0.5, rgb(42,42,42)),
		color-stop(0.5, rgb(53,53,53)),
		color-stop(0.98, rgb(93,93,93)),
		color-stop(1, rgb(133,133,133))
	);
	border: 1px solid black;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-radius: 2px;
	}

.custompage_layouter_actions select {
	float: left;
	height: 24px;
	}

.custompage_layouter_actions .inner a {
	display: block;
	float: left;
	border: 1px solid black;
	margin-left: 10px;
	height: 18px;
	border-radius: 10px;
	font-size: 0.9em;
	text-transform: uppercase;
	font-weight: bold;
	padding: 3px 15px;
	color: white; 
	text-align: center;
	text-decoration: none;
	box-shadow: 0 1px 0 0 rgba(255,255,255,0.2);
	overflow: hidden;
	}

	.custompage_layouter_actions .inner a.save {
		background-image: linear-gradient(bottom, rgb(103,178,27) 0%, rgb(119,216,23) 100%);
		background-image: -o-linear-gradient(bottom, rgb(103,178,27) 0%, rgb(119,216,23) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(103,178,27) 0%, rgb(119,216,23) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(103,178,27) 0%, rgb(119,216,23) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(103,178,27) 0%, rgb(119,216,23) 100%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(103,178,27)),
			color-stop(1, rgb(119,216,23))
		);
		text-shadow: 1px 1px #3D8105;
	}

	.custompage_layouter_actions .inner a.exit {
		background-image: linear-gradient(bottom, rgb(205,32,32) 0%, rgb(232,44,44) 100%);
		background-image: -o-linear-gradient(bottom, rgb(205,32,32) 0%, rgb(232,44,44) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(205,32,32) 0%, rgb(232,44,44) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(205,32,32) 0%, rgb(232,44,44) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(205,32,32) 0%, rgb(232,44,44) 100%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(205,32,32)),
			color-stop(1, rgb(232,44,44))
		);
		text-shadow: 1px 1px #8E0000;
	}


div.cplsortable {
	outline: 1px dashed #aaa;
	outline-offset: -1px;
	cursor: move;
}

.ui-resizable-resizing, .ui-sortable-helper {
	background: rgba(0,0,0,0.1);
	outline: 2px solid #333;
}

div.cplsortable.custompage_layouter_hidden {
	display:none;
}

div.cplsortable a.disable {
	position: absolute;
	width: 14px;
	height: 14px;
	right: 10px;
	top: 10px;
	text-indent: -9999px;
	background: url(img/disable.png) no-repeat left top;
}

div.cplsortable:hover a.disable {
	background-position: left 100%;
	}
	
div.cplsortable.contains_blocks {
  padding-top:30px;
}	
	
	